input{
  font-size: 20px;
}

form div {
  margin: 20px;
  margin-left: 0;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.dire{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.botao {
  width: 10%;
  height: 60px;
}

form div .mensagem__erro {
  font-size: 14px;
  margin-left: 5px;
  color: red;
  margin: 0px;
}

.botao__desabilitado {
  margin: 0px;
  width: 10%;
  height: 60px;
}
