.flex {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.botao-editar {
  margin-right: 20px;
}

.usuario {
  border: #154580 solid;
  border-radius: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.botao {
  padding: 3px;
  width: 80px;
  text-align: center;
}
